*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    font-size: 62.5%;
    
}
.body{
    width: 100vw;
    font-size: 2rem;
    margin: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.header-container{
    text-transform: uppercase;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-header{
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.input-search{
    padding: 5px;
}
.main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25rem;
    }
.titlefav{
    margin-bottom: 20px;
}
.titlesearch{
    margin-bottom: 20px;
}
.section-fav{
    font-size: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid salmon;
    text-transform: uppercase
}
.section-search{
    font-size: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid salmon;
    text-transform: uppercase
}
.serie{
    text-transform: uppercase;
    font-size: 2rem;
}
